* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(214, 207, 207);
    margin: 20;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: white;
    margin-top: 20px;
}

.players{
    padding: 5px;
    margin: 20px;
    background-color: none;
    justify-content: center;
    align-items: center;
}
.player1 {
    padding: 10px 30px;
    background-color: lightcoral;
    margin: 40px;
    display: inline-block;
}

.player1 p:nth-child(1){
    font-size: 10px;
    text-decoration: underline;
}

.player2 {
    padding: 10px 30px;
    background-color: lightblue;
    display: inline-block;
}

.player2 p:nth-child(1){
    font-size: 10px;
    text-decoration: underline;
}

.tiesbox{
    display: inline-block;
}

.keypad
{
    border: 2px solid black;
    border-collapse: collapse;
}
.buttons {
    border: 2px solid black;
    height: fit-content;
    font-size: px;
    min-width: 50px;
    min-height: 50px;
    background-color: rgb(174, 179, 174);
}
.buttons button {
    padding: 15px;
    content: "";
    height: 100px;
    width: 100px;
    background-color: rgb(174, 179, 174);
}

.resets p {
    padding: 5px ;
    margin: 10px;
    float: right;
    border: 2px solid black;
    width: fit-content;
}

.resets p:hover{
    cursor: pointer;
    background-color: darkgrey;
}